@import url("https://fonts.googleapis.com/css2?family=Karla:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,700;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root {
  --beige: hsl(60, 56%, 91%);
  --light-blue: rgb(71, 196, 212);
  --dark-blue: hsl(229, 27%, 8%);
  --Grayish-Blue: hsl(218, 22%, 67%);

  font-family: "Poppins", sans-serif;
  
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 20px;
   font-family: "Poppins", sans-serif;
}


.splash {
  height: 100vh;
  width: 100%;
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash h1 {
  font-size: 7rem;
}

.main {
  height: 100vh;
  width: 100%;
  background-color: #0F111A;
  /* display: none; */
}

.logo a {
  text-decoration: none;
  color:beige;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 1.3rem 4rem;
}

.line
{
  height: 1px;
  opacity: .7;
  width: 90%;
  background: beige;
  margin-left: 3rem;
}

.menu-head {
  display: flex;
  gap: 20px;
}

.menu-head li {
  list-style: none;
}
.menu-head li:hover {
  border-bottom: 2px solid rgb(103, 189, 250);
}

.menu-head li a {
  text-decoration: none;
  color:beige;
   font-size: 23PX;
}

.btn-menu-ct {
  padding: 7px 20px;
  border-radius: 10px;
  border: none;
  background-color: lightcyan;
}

.btn-menu-ct a {
  text-decoration: none;
  color: var(--beige);
}




.btn-menu-ct {
  background:var(--light-blue);
  color: var(--beige);
  padding: 12px 20px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
  box-shadow: 0 4px 20px rgba(57, 99, 243, 0.4);
  position: relative;
  transition: all 0.3s ease;
}

.btn-menu-ct .arrow {
  background: var(--beige);
  color: #3963f3;
  padding: 3px 5px;
  border-radius: 50%;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition: background 0.3s ease, color 0.3s ease; */
}



.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 100%;
  flex-direction: row;
  gap: 1rem;
  color: beige;
}
.left{
  width: 70%;
}



.hero h2{
      font-size: 3rem;
      margin-left: 3rem;
}

.hero h2 span{
      position: relative;
      top: 1%;
      font-size: 1rem;
      font-weight: 300;
}
.hero h1{
  font-size: 1.5rem;
  margin-left: 3rem;
  margin-top: 1rem;
}
.hero h1 span{
  font-size: 1.5rem;
  color: rgb(71, 196, 212);                     
}


.btn-social-ct a{ 
  text-decoration:none;
  color: beige;
}
.btn-social-ct{
  padding: 10px 30px;
  border-radius: 6px;
  border: none;
  background-color:rgb(71, 196, 212);
}

.social-media{
  display: flex;
  width: 60%;
  margin-top: -30px;
  gap: 1rem;
  justify-content: center;
  align-items: center;
    margin-top: 2rem;
}

/* MOUSE MAGNET */

.mouse-magnet {
  position: fixed; /* stays relative to viewport */
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background: white;
  border-radius: 50%;
  z-index: 9999; /* higher than nav, main, etc */
  pointer-events: none; /* prevents blocking clicks */
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out;
}

.skills{
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-blue);
  color: beige;
  gap: 2rem;
}
.my-skills{
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-box{
  display: flex;
  /* flex-direction: row; */
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

 .box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8{
  height: 100px;
  width: 100px;
  /* background-color: orangered; */
  border-radius: 5px;
  border: solid 0.1px var(--beige);
  box-shadow: 1px 2px 10px var(--beige);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 1rem; */
  height: 500px;
  width: 100%;
  background-color: var(--dark-blue);
  color: var(--beige);
}
footer p {
  background-color: var(--dark-blue);
}
.author{
  margin-top: 5rem;
}
.ft-head{
  display: flex;
  gap: 10px;
}
.ft-head span:hover{
color: var(--light-blue);

} 

footer p span{
  color: var(--light-blue);
}