@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
  /* --beige: hsl(52, 94%, 94%);
  --light-blue: rgb(71, 196, 212);
  --dark-blue: hsl(229, 85%, 13%);
  --black: hsl(0, 0, 0);
  --white-green: hsl(130, 45%, 90%);
  --darker-green: hsl(182, 73%, 7%);
  --medium-green: hsl(165, 41%, 23%);
  --dark-green: hsl(171, 59%, 11%);
  --green-white: hsl(139, 22%, 64%); */

  --white: hsl(0, 0%, 90%);
  --grey: hsl(0, 0%, 54%);
  --dark-grey: hsl(0, 0%, 32%);
  --black: hsl(0, 0%, 4%);
  --dark-black: hsl(0, 0%, 0%);
   --roboto: "Roboto", sans-serif;
  --font-family: "Open Sans", sans-serif;

  /* --font-family: "Poppins", sans-serif; */
  
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 20px;
   font-family: "Poppins", sans-serif;
}

.splash {
  height: 100vh;
  width: 100%;
  background-color: beige;
  /* display: none; */
  align-items: center;
  justify-content: center;
}

.splash h1 {
  font-size: 7rem;
}

.main {
  height: 100vh;
  width: 100%;
  background-color: #0F111A;
  /* display: none; */
}

.logo a {
  text-decoration: none;
  color:beige;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 1.3rem 4rem;
}

.line
{
  height: 1px;
  opacity: .7;
  width: 90%;
  background: beige;
  margin-left: 3rem;
}

.menu-head {
  display: flex;
  gap: 20px;
}

.menu-head li {
  list-style: none;
}
.menu-head li:hover {
  border-bottom: 2px solid rgb(103, 189, 250);
}

.menu-head li a {
  text-decoration: none;
  color:beige;
   font-size: 23PX;
}

.btn-menu-ct {
  padding: 7px 20px;
  border-radius: 10px;
  border: none;
  background-color: lightcyan;
}

.btn-menu-ct a {
  text-decoration: none;
  color:var(--beige);
}




.btn-menu-ct {
  background: var(--light-blue);
  color: var(--beige);
  padding: 12px 20px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
  box-shadow: 0 4px 20px rgba(57, 99, 243, 0.4);
  position: relative;
  transition: all 0.3s ease;
}

.btn-menu-ct .arrow {
  background: var(--beige);
  color: #3963f3;
  padding: 3px 5px;
  border-radius: 50%;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition: background 0.3s ease, color 0.3s ease; */
}


.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
  color: beige;
}

.hero h2{
      font-size: 1.5rem;
}

.hero h2 span{
      position: relative;
      top: 1%;
      font-size: 1rem;
      font-weight: 300;
}
.hero h1{
  font-size: 10rem;
  margin-left: 4rem;
}
.hero h1 span{
  font-size: 1.5rem;
  color: rgb(71, 196, 212);                     
}


.btn-social-ct a{ 
  text-decoration:none;
  color: beige;
}
.btn-social-ct{
  padding: 10px 30px;
  border-radius: 6px;
  border: none;
  background-color:rgb(71, 196, 212);
}

.social-media{
  display: flex;
  width: 60%;
  margin-top: -30px;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}






/* MOUSE MAGNET */

.mouse-magnet {
  position: fixed; /* stays relative to viewport */
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background: white;
  border-radius: 50%;
  z-index: 9999; /* higher than nav, main, etc */
  pointer-events: none; /* prevents blocking clicks */
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out;
}

.work-box{
  background-color: var(--dark-blue);
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.project-box-1{
display: flex;
gap: 1rem;
justify-content: space-evenly;
}
.project-box-2{
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
}


.box1,.box2, .box3, .box4, .box5, .box6{
   height: 400px;
  width: 400px;
  background-image: linear-gradient(to right,rgb(223, 113, 10) 0%, rgb(226, 226, 13) 50%, rgb(25, 110, 136) 100%);
}


footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 500px;
  width: 100%;
  background-color: var(--dark-blue);
  color: var(--beige);
}
footer p {
  background-color: var(--dark-blue);
}
.author{
  margin-top: 5rem;
}
.ft-head{
  display: flex;
  gap: 10px;
}
.ft-head span:hover{
color: var(--light-blue);

} 

footer p span{
  color: var(--light-blue);
}