@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {

 --off-white:hsl(300, 8%, 93%);
 --black: hsl(0, 0%, 7%);
 --blue-white: hsl(255, 14%, 95%);
 --roboto: "Roboto", sans-serif;
 --poppins: "Poppins", sans-serif;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  /* height: 100%; */
  width: 100%;
  background-color: var(--off-white);
  
}
.main{
  /* height: 100vh; */
  width: 550px;
  /* border: 1px solid black; */
  background-color: var(--off-white);
  margin-left: 4rem;
  /* margin-left: 30%; */
}
.left{
  width: 30%;position: relative;
}
.menu{
  background-color: #353435;
  /* opacity: .9; */
  font-family: var(--poppins);
  height: 60px;
  width: 300px;
  border-radius: 50px;
  position: fixed;
   position: relative;
   position: fixed;
   bottom: 10px;
   z-index: 1;
   left: 33rem;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 1rem;
   color: white;
}

.blur{
  position: fixed;
  bottom: 0;
  height: 10%;
  width: 100%;
  background-image: linear-gradient(to bottom, transparent, white);

}
.home a{
  text-decoration: none;
  color: var(--off-white);
  opacity: .8;
}
.about a{
  text-decoration: none;
  color: var(--off-white);
  opacity: .8;
}
.work a{
  text-decoration: none;
  color: var(--off-white);
  opacity: .8;
}
.contact a{
  text-decoration: none;
  color: var(--off-white);
  opacity: .8;
}

.hero{
  display: flex;
  justify-content: space-between;
}


.btn-box{
  position: absolute;
  left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 13rem;
  /* margin-left: 2rem; */
  gap: 10px;
  height: 200px;
  width: 70px;
  background:var(--blue-white);
}
.lgt-mode button{
  padding: 10px ;
  border: none;
  background-color: white;
  color: var(--black);
  font-size: 15px;
  border-radius: 5px;
}
.ngt-mode button{
  padding: 10px ;
  border: none;
  background-color:var(--black);
  color: white;
  font-size: 15px;
  border-radius: 5px;
}
.detail p {
  font-size: 13px;
  font-weight: 600;
  font-family: var(--poppins);
  /* opacity: 0.4; */
  line-height: 30px;
  letter-spacing: 1PX;
  color: var(--black);
  background-color: #F6F5F7;
  /* opacity: .7; */
  margin-bottom: 2rem;
  padding: 5px;
}


.nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-left: 2%; */
  margin-top: 2rem;
  line-height: 3.2rem;

  /* align-items: center; */
  color: var(--black);
  font-family: var(--poppins);

  
}
                      /* ----------------work-1 */

.work h1{
  margin-bottom: 1rem;
  font-family: var(--poppins);
  color: var(--black);
}


.work-box1 img{
  height: 400px;
  width: 100%;
  /* background-color: black; */
  border-radius: 20px;
  object-fit: cover;
}
.work-box1, h2{
  font-family: var(--poppins);
  margin-top: 10px;
  color: var(--black);
}
.work-box1  p{
  font-family: var(--poppins);
  color: var(--black);
  opacity: .7;

}


.w-button-1 button{
  font-family: var(--poppins);
  border: none;
  padding: 7px 14px;
border-radius: 10px;
background-color: var(--black);
margin-top: 1rem;
}

.w-button-1 button a{
text-decoration: none;
color: var(--off-white);
}

                                 /* ---------------------work-2----------- */
.work2{
  margin-top: 3rem;
}
.work-box2 img{
 height: 400px;
  width: 100%;
  background-color: black;
  border-radius: 20px;
  object-fit: cover;
}
.work-box2, h2{
  font-family: var(--poppins);
  margin-top: 10px;
  color: var(--black);
}
.work-box2 p{
  font-family: var(--poppins);
  color: var(--black);
  opacity: .7;

}

.w-button-2 button{
  font-family: var(--poppins);
  border: none;
  padding: 7px 14px;
border-radius: 10px;
background-color: var(--black);
margin-top: 1rem;
}

.w-button-2 button a{
text-decoration: none;
color: var(--off-white);
}
                             /* --------------------work-3----------------- */
.work3{
  margin-top: 3rem;
}
.work-box3 img{
 height: 400px;
  width: 100%;
  background-color: black;
  border-radius: 20px;
  object-fit: cover;
}
.work-box3, h2{
  font-family: var(--poppins);
  margin-top: 10px;
  color: var(--black);
}
.work-box3 p{
  font-family: var(--poppins);
  color: var(--black);
  opacity: .7;

}

.w-button-3 button{
  font-family: var(--poppins);
  border: none;
  padding: 7px 14px;
border-radius: 10px;
background-color: var(--black);
margin-top: 1rem;
}

.w-button-3 button a{
text-decoration: none;
color: var(--off-white);
}
                             /* -------------------work-4--------------- */
.work4{
  margin-top: 3rem;
}
.work-box4 img{
 height: 400px;
  width: 100%;
  background-color: black;
  border-radius: 20px;
  object-fit: cover;
}
.work-box4, h2{
  font-family: var(--poppins);
  margin-top: 10px;
  color: var(--black);
}
.work-box4, p{
  font-family: var(--poppins);
  color: var(--black);
  opacity: .9;

}

.w-button-4 button{
  font-family: var(--poppins);
  border: none;
  padding: 7px 14px;
border-radius: 10px;
background-color: var(--black);
margin-top: 1rem;
}

.w-button-4 button a{
text-decoration: none;
color: var(--off-white);
}

.right{
 display: flex;
 width: 30%;
 flex-direction: column;
 /* justify-content:end; */
 /* padding-right: 20rem; */
 align-items: end;
  color: var(--black);
  font-family: var(--poppins);
  position: relative;
  margin-top: 35rem;
  margin-right: 3rem;
  /* line-height: ; */
 
}
.right .location{
  position: absolute;
  margin-left: 2rem;
  margin-bottom: 3rem;
}

 .timer {
      /* background: #c0c0c5; */
      color: var(--black);
      font-family: var(--poppins);
      font-size: 26px;
      /* font-weight:600; */
      padding: 10px 20px;
      border-radius: 25px;
      margin-left: 2rem;
      margin-top: 1.5rem;

    }

.contact-section {
  margin-top: 2rem;
  height: 200px;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
  border-top: 2px solid #000;
  padding-top: 20px;
}

/* Left side */
.contact-right h2 {
  font-size: 32px;
  font-weight: 800;
  line-height: 1.2;
  text-transform: uppercase;
  font-family: var(--poppins);
}

/* Right side (links) */
.contact-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  flex: 1;
}

.contact-left a {
  position: relative;
  text-decoration: none;
  color: #000;
  font-weight: 800;
  font-size: 17px;
  text-transform: uppercase;
  /* padding-bottom: 1px; */
  font-family: var(--poppins);
  width: fit-content;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.contact-left a:hover {
  color: #666;
  border-color: #666;
}
.twt-line{
  height: 1px;
  width: 80%;
  background-color: var(--black);
}
.link-line{
  height: 1px;
  width: 80%;
  background-color: var(--black);

}
.git-line{
  height: 1px;
  width: 80%;
  background-color: var(--black);

}


.footer-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  /* top: 100rem;  */
}

.footscroll {
  display: flex;
  gap: 6rem;
  width: max-content;
  animation: scrollLeft 20s linear infinite;
}

.footscroll h1 {
  
  font-family: var(--poppins);
  font-weight: 1500;
  font-size: 10rem;
  /* white-space: nowrap; */
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}







@media (max-width: 700px) {
  .left{
    display: none;
  }
   .right{
    display: none;
  }

.main{
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 0;
}
  
 .menu{
  background-color: #353435;
  /* opacity: .9; */
  font-family: var(--poppins);
  height: 60px;
  width: 300px;
  border-radius: 50px;
   position: relative;
   position: fixed;
   bottom: 10px;
   left: 3.5rem;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 1rem;
   color: white;
}

.blur{
  position: fixed;
  bottom: 0;
  height: 10%;
  width: 100%;
  background-image: linear-gradient(to bottom, transparent, white);

}
.contact-container {
  display: flex;
  flex-direction: column-reverse;
}
.contact-left{
  width: 100%;
  
}
.contact-right br{
  display: none;
}

.footer-container {
  width: 100%;
  overflow: hidden;
  /* position: relative; */
  top: 8rem; 
}

}

@media (max-width: 375px) {  
  
 .menu{
  background-color: #353435;
  /* opacity: .9; */
  font-family: var(--poppins);
  height: 60px;
  width: 300px;
  border-radius: 50px;
   position: relative;
   position: fixed;
   bottom: 10px;
       left: 2rem;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 1rem;
   color: white;
}}